@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:wght@400;700&display=swap');


:root {
    --primary: #BF3945;
    --primary-accent: #D93D59;
    --secondary: #D9933D;
    --gray: #D2D8D9;
    --dark: #293940;
    --white: #ffffff;
}

body{
    font-family: 'PT Sans', sans-serif;
    color: var(--dark);
}



.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    padding: 3em;
    max-width: 700px;

}
header > h1 {
    font-size: calc(3em + 1vw);
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;

}
header > p {
    font-size: calc(2em + 1vw);
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0.5em 0 0;
    opacity: 0.8;
}

header > p > span {
    color: var(--primary);
}
main{
    padding: 3em;
    flex: 1;
}
footer {
    padding: 1em 3em;
    margin-bottom: 1px;
}
