@import "Theme.css";

.button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em 2em;
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
    letter-spacing: 0.3em;
    text-indent: 0.3em;
    border-style: solid;
    position: relative;
}
.button::before{
    content: "";
    z-index: -1;
    max-height: 0;
    height: 0;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: height 200ms, max-height 200ms;
    transition-timing-function: ease-out;
}
.button:hover{
    color: var(--white);
    transition: color 300ms ease-in;
}

.button:hover::before{
    height: 100%;
    max-height: 100%;
    transition: max-height 200ms ease-in;
}
